@model MyAspApp.Models.ViewModels.ProductVM

@{
    var title = "Create product";
}

<form method="post" enctype="multipart/form-data">
    @if(Model.Product.Id != 0)
    {
        title = "Edit product";
        <input asp-for="Product.Id" hidden/>
    }
    
    <div class="border p-3">
        <div class="row mb-3">
            <h2 class="text-info pl-3">@title</h2>
        </div>

        <div class="row">
            <div class="col-8">

                <div class="mb-3 row">
                    <label asp-for="Product.Name" class="col-4 col-form-label"></label>
                    <div class="col">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Price" class="col-4 col-form-label"></label>
                    <div class="col">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.Description" class="col-4 col-form-label"></label>
                    <div class="col">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-4 col-form-label">Image</div>
                    <div class="col">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Product.CategoryId" class="col-4 col-form-label"></label>
                    <div class="col">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-8 offset-4">
                        @if(Model.Product.Id != 0)
                        {
                            //update
                            <button style="width:70%" type="submit" class="btn btn-info">Update</button>
                        }
                        else
                        {
                            //create
                            <button onclick="return validateInput()" style="width:70%" type="submit" class="btn btn-primary">Create</button>
                        }
                        <a asp-action="Index" style="width:25%" class="btn btn-secondary">Back</a>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <img src="@WC.ImagePath@Model.Product.Image" width="100%" style="border-radius: 5px; border:1px solid #bbb"
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

        $(document).ready(function () {
            $('.summernote').summernote({
                height : 250
            });
        });

        function validateInput(){
            if(document.getElementById("uploadBox").value == ""){
                Swal.fire({
                    title: "Error!",
                    text: "Please upload an Image!",
                    icon: "error"
                });
                return false;
            }
            return true;
        }

    </script>
}

